<!DOCTYPE html>
<html lang="en">
    
    <% include ../partials/head %>
  <body>

    <% include ../partials/header %>

	<style>
	html, body {margin: 0; height: 100%; overflow: hidden}
	</style>

	<div class='body'>
		<div class='container p-0'>
		  <div class='row p-0'>
		
			<iframe frameBorder="0" scrolling='no' style='height: 1000px;' class="col-md-12"  src='../AddCoinBox.html'></iframe>
		  </div>
		</div>
		
	  </div>







      







    <% include ../partials/footer %>
    <script src='/js/support.js'></script>
  </body>
</html>
