<!DOCTYPE html>
<html lang="en">
    <% include ../partials/head %>
    <% include ../partials/header %>
  <body>
    
    <style>
      body {margin: 0; height: 100%; background: rgb(24, 27, 36); 
    overflow-x: hidden; }
      iframe {
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px;
        padding-bottom: 5px;
        border: 0px;
        display: block;
    }
      </style>
    
    
      <div class='body'>
        <div class='container p-0' >
            <iframe frameBorder="0" scrolling='no' style='height: 920px;'  src='../supportpage.html'></iframe>
          
        </div>
        
        </div>
  

  </body>
</html>
