<!DOCTYPE html>
<html lang="en">
    
    <% include ../partials/head %>
  <body>

    <% include ../partials/header %>


    <div class="container pt-2">
     <h1>Terms</h1>
     Provigen User Agreement 

     This User Agreement is an electronic legally binding contract between You (hereinafter the “User”) and Provigen Exchange Service (hereinafter the “Service” or Provigen), which applies to User’s activity on the Service using this website, its functionality, services, and its content.  By registering and entering an account on the Service or by using any of its functions, a User acknowledges that he has read, understood and completely agrees to comply with this Agreement, its all terms and conditions stated below.<br><br>
     
     The Service reserves the right to change, add or remove parts of  the Agreement at any time at its sole discretion. The User commits to monitor all the amendments made to the present User Agreement. Continued use of the Service after the modifications means that the User accepts and agrees with the amendments. If the User does not agree with any of the clauses set out in this Agreement, he/she (they) must immediately cease to use the Service.<br><br>
     
     1 Terms and conditions<br>
     Agreement means the present User Agreement.<br><br>
     
     User: a person or an entity, which uses the Service, agreed to the Terms of Use and is a holder of an Account.<br>
     Account means the User’s personal profile registered by her/him/them on the Service where he/she/they controls Funds and operations conducted with them.<br>
     Seller is a user who places a sell order for Cryptocurrency on the Service.<br>
     Buyer is a user who a places a buy order for Cryptocurrency on the Service.<br>
     Order means an agreement between the Buyer and the Seller to exchange<br>
     Price is a price in cryptocurrency units, at which the User is ready to buy or sell Cryptocurrency using the Service.<br>
     Commission - a fee charged by or on behalf of any third party (e.g. non-bank financial institution, payment service provider, etc).<br>
     Cryptocurrency - peer-to-peer decentralized digital representation of value (e.g. bitcoin, litecoin, ethereum, etc.).<br>
     Deposit - a Transaction involving a transfer of Funds to the Account.<br>
     Fiat currency - government-issued currency that is designated as legal tender in its country of issuance through government decree, regulation, or law.<br>
     Funds - Cryptocurrency and Fiat currency.<br>
     Platform - an environment created by Provigen that allows trading cryptocurrencies.<br>
     Service is the platform www.PGN.one with all and any services provided by Provigen<br>
     Site is PGN.one  website at https://www.PGN.one<br>
     Transaction Price: the total price paid by the Buyer in respect to each Transaction performed via the Service.<br>
     Transaction: transfer of Cryptocurrencies or Fiat currencies by the User to his or her Account ("Deposit Transaction"); transfer of Cryptocurrencies or Fiat currencies among the Users ("Trading Transaction"), withdrawal of Cryptocurrencies or Fiat currencies from his or her Account ("Withdrawal Transaction").<br>
     Withdrawal: a Transaction involving a transfer of Funds from the User's Account to any account opened in any financial institution.<br>
     Listing is the process of  Cryptocurrency deployment on the Service;<br>
     Delisting is the process of  Cryptocurrency removal from the Service;<br>
     2 Subject of the agreement<br>
     2.1 Provigen is an online digital asset Service with a goal to allow all Users of the Service to trade cryptocurrencies with other Users. In accordance with the Agreement Provigen grants the User the right to employ its following services:<br><br>
     
     access to the Account and the User’s Funds within the Service;<br>
     access to the Service to carry out User’s trading activity;<br>
     access to deposit and to withdraw the User’s Funds;<br>
     access to the chat-messenger to communicate with other Users;<br>
     access to the information about the Service, coin rates, placed open and closed orders as well as other appropriate information published by the Service on its web-site and public channels.<br>
     2.2 The User acknowledges and agrees that Provigen is an online digital asset Service, and when  the User is completing Trading Transactions, he/she (they) is trading with other User, excluding any possibility to consider Provigen as a counterparty to any trade action.<br><br>
     
     3 Account verification<br>
     3.1 Provigen leaves at the User’s sole discretion the right to choose a type of his/her account: verified (with the User’s identity data and photo) or unverified ones.<br><br>
    
     
     6 The User conduct<br>
     6.1 The following users’ actions if detected in the chat-rooms and Provigen social media will result in a user’s account freezing for  a period from 24 hours to 30 working days:<br><br>
     
     Advertising any kind;<br>
     making deals without an order placement;<br>
     statements that incite ethnic strife, propagate violence in any form, offend the religious feelings of other users;<br>
     flood (the placement of the same type of information, one repeating phrase, or the same graphic files), flame, spam, discussion of political topics;<br>
     the use of non-normative vocabulary (both explicitly and in disguised form);<br>
     distribution links to third-party online projects, advertising links;<br>
     distribution of malicious links (30 days ban as a penalty for one incident, or lifetime ban if repeated);<br>
     offensive statements about the administration, moderators, abusive statements about the chat;<br>
     writing only upper case letters;<br>
     6.2 The following users’ actions if detected will result in a user banning without any refund and the option for recovery:<br><br>
     
     If detected that the User’s activity is bearing the marks of exploiting bots software at a number of markets for which API is suspended on Provigen Service;<br>
     Please, note: Exploiting any type of web-bot software on Provigen which allows its users fraudulently avoid API disabling for a chosen market is illegal and is subject to a lifetime ban with no refund of the User’s funds available at the moment of penalty.<br><br>
     
     
     6.3 The user can be blocked by the decision of the Service administration without explaining the reason, but with payment of the available funds on the account, subject to verification (This rule does not apply to cases where funds were obtained fraudulently (theft, burglary, deception etc.)).<br>
     6.4 Any User who gets any type of penalty reserves the right to address the Service Administration and submit proofs of its misjudging or public apologies. Depending on details of an incident, the penalty can be cancelled or reduced and all User’s funds if was locked can be unlocked and returned to the owner.<br><br>
     
     6.5 Any violation, which previously  resulted in a user’s ban and the follow up recovery, in case of a repetition of the violation results in a user’s lifetime ban with no option for refunding and no option to apply for recovery.<br><br>
     
     
     
     
     
     7 Limitation of liability<br>
     7.1 The User acknowledges and agrees, the Service shall not be liable for any of User’s losses caused by any of the following events, including but not limited to:<br><br>
     
     Failure or delay of service resulting from scheduled network maintenance (incl. increasing of the announced maintenance period)   or external factors such as hardware and software failure, cyber attacks, natural disaster, Internet service provider problems or governmental acts.<br>
     Failure or delay of service resulting from cryptocurrency developers’ activity or inactivity as well as failure of their blockchains or any other technical problems and events in their networks specific for cryptocurrencies listed on the Service;<br>
     Losses sustained by the User as a result of cyber attacks, compromised users’ accounts;<br>
     The User’s misunderstanding of Provigen Service rules and functionality;<br>
     The User’s lack of  experience in trading cryptocurrencies and any losses sustained in that behalf;<br>
     Delisting a cryptocurrency which ceased to correspond the Service Listing policy;<br>
     Withdrawing funds outside of the Service to an mistyped address or an address located on a blockchain different from the one on the Service.<br>
     Losses sustained by the User as a result of his/her losing the access to his/her account.<br>
     Provigen does not warrant the 100% safety of the Service and is not liable for any lost value.<br>
     Provigen will not be liable for any consequences and losses sustained by the User in the result of using or redirecting to third parties’ sites and its instruments, which the User can access via the Site and/or the Service.<br><br>
     8 Fees and comissions<br>
     8.1 The market trade fee is calculated in accordance with the Exchange’s scale of fees as set out in the article “Provigen Fees” on the Service site. The fee is charged only in case of an order fulfillment. In case of an order cancellation before its fulfillment, the fee is not charged.<br>
     8.2 The withdrawal commission is charged during the process of a Cryptocurrency withdrawal to cover the network fee for the funds transition within blockchain network.<br>
     8.3 The Exchange reserves the right to change the rates of fees and commission at any time at its sole discretion.<br><br>
     
     
     9 Cryptocurrency wallets control<br>
     9.2. Provigen is not responsible for providing perfect and secure hardware and software environment for the cryptocurrency wallet.<br>
     9.3. Provigen is not responsible for the quality of the wallet software, cryptocurrency network state, and all other issues being under responsibility of cryptocurrency developers team.<br>
     9.4. In order to prevent loss of User’s funds, Provigen reserves the right to suspend the work of cryptocurrency wallets due to the following reasons:<br><br>
     
     By a Cryptocurrency developer’s request received via the official channel of communication.<br>
     If a Cryptocurrency block explorer is unavailable and there is at least one user’s claim of non-delivery of his/her withdrawal from Provigen.<br>
     If the difference in blocks between a Cryptocurrency explorer and its wallet on Provigen is more than 100 blocks<br>
     If a fork (and swap) of a Cryptocurrency is detected or reported by users in case of Provigen did not receive an official notification from the developer team.<br>
     The first and second wallet updates have proved to be faulty and resulting in non-delivery of Users’ withdrawal from Provigen.<br>
     Cyber attack aimed to asset stealage is detected.<br>
     Violations of the terms of the Provigen Listing policy<br>
     Please, notice:<br><br>
     
     Provigen is not obliged to suspend the work of the cryptocurrency wallet, excluding the case of cryptocurrency developers team official request.<br>
     The work of suspended wallets will be promptly resumed upon ceasing the above-mentioned circumstances or providing fixing updates by a Cryptocurrency developer.<br>
     10 Risk warning<br>
     10.1 The User guarantees that he/she understands general principles of Cryptocurrencies, and Cryptocurrency trading and is aware of such basic entities as price volatility; commissions, and fees, insecure cryptocurrencies, etc. affecting the asset value and risks related to it.<br>
     10.2 The fact of a first order placement by the User confirms his/her awareness of the main trading principles on the Service and terms specified in this clause 1 Terms and definitions of the present Agreement.<br>
     
    </div> <!-- /container -->


    <% include ../partials/footer %>
    <script src='/js/support.js'></script>
  </body>
</html>
